.createCourse {
  min-height: calc(100vh - 77px);
  position: relative;
}

.createCourse .createCourseProgress {
  width: 100%;
  height: 5px;
  background-color: white;
}

.createCourse .createCourseProgress div {
  width: 33.33%;
  height: 100%;
  background-color: #a435f0;
}

.createCourseInner {
  display: flex;
  min-height: calc(100vh - 77px);
  flex-direction: column;
  align-items: center;
}

.createCourse .createCreateBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px 24px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.08), 0 -4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.createCourse .createCreateBottom button {
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
}

.createCourse .createCreateBottom button:disabled {
  display: none;
}

.createCourse .createCreateBottom button.black {
  background-color: #000;
  color: #fff;
}

@media (max-width: 560px) {
  .createCourseContent {
    margin-bottom: 100px;
  }
}
