.login {
  width: 100%;
  min-height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login h3 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  color: #1c2d5f;
  font-size: 15px;
  font-weight: bolder;
}

.actionBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  gap: 20px;
}

.loginBtn {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #fff;
  border: 1px solid #000;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #eee;
}

.loginBtn img {
  height: 35px;
  width: 35px;
}

.loginBtn span {
  font-size: 16px;
  font-weight: 600;
}

.authInput {
  width: 100%;
  border: 1px solid #000;
  outline: none;
  padding: 15px;
  font-size: 16px;
}

.submitBtn {
  width: 100%;
  border: none;
  padding: 15px 0px;
  cursor: pointer;
  background-color: #a435f0;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.submitBtn:hover {
  opacity: 0.9;
}

.helperTextWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.helperText {
  display: flex;
  align-items: center;
  gap: 5px;
}

.helperText a {
  font-weight: bolder;
  color: #a435f0;
  text-decoration: underline;
}

hr {
  border: 1px solid #eee;
  width: 100%;
}

.authError {
  color: rgb(216, 35, 35);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1024px) {
  .login {
    min-height: calc(100vh - 56px);
  }
}

@media (max-width: 450px) {
  .actionBtns {
    width: 100%;
    padding: 25px;
  }
}
