.home {
  height: max-content;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.homeBanner {
  position: relative;
  min-height: 250px;
  background-color: #f7f9fa;
}

.homeBanner img {
  width: 100%;
}

.homeBannerContents {
  position: absolute;
  width: 27rem;
  top: 15%;
  left: 50px;
  transform: translateY(-15%);
  background-color: #fff;
  padding: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}

.homeBannerContents h1 {
  font-size: 32px;
  color: #1c1d1f;
}

.homeBannerContents p {
  font-size: 16px;
  font-weight: 500;
  color: #1c1d1f;
}

.homeContents {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.homeContents h1 {
  font-size: 32px;
  color: #1c1d1f;
}

.homeContents p {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.7;
}

.courseText {
  margin-top: 20px;
}

.mobileSearch {
  display: none;
}

@media (max-width: 1024px) {
  .homeBannerContents {
    top: 10%;
    transform: translateY(-10%);
  }
}

@media (max-width: 768px) {
  .homeBannerContents {
    top: 6%;
    transform: translateY(-6%);
  }

  .mobileSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;
    width: 100%;
    padding: 12px;
    gap: 5px;
  }

  .mobileSearch input {
    border: none;
    outline: none;
    background-color: #fff;
    flex-grow: 1;
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .homeBannerContents {
    position: relative;
    padding: 12px 24px;
    box-shadow: none;
    width: 100%;
    left: 0;
    top: 0;
  }

  .homeBannerContents h1 {
    font-size: 24px;
  }

  .homeBannerContents p {
    font-size: 14px;
  }

  .homeContents h1 {
    font-size: 24px;
  }

  .homeContents p {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .homeBanner img {
    object-fit: cover;
    height: 250px;
  }
}
